
* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(45, 102, 194);
}

.Border {
  margin: 10px;
  padding : 10px;
  border: 1px solid rgb(177, 13, 177);
  border-radius: 5px;
}

.HeaderCoin {
  margin-left: 40%;
  margin-top: 20px;
  padding : 5px;
  color: black;
}

/* .Practice {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  width: 97%;
  border: 1px solid black;
  border-radius: 5px;
} */

.coinPage, .BlackColor {
  color: black;
}

.Graph {
  margin-top: 15px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 150px;
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
}

.Buttons_graph {
  margin-top: 25px;
  background-color: #f2f2f2;
  padding: 10px;
  padding-left: 325px;
  margin-left: 150px;
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
}

.HeaderButtons {
  padding-right: 10px;
}